body{
    position: relative;
    padding-bottom: 10rem;
    min-height: 100vh;
}

.img {
    height: 35%;
    width: 35%;
}

.titulo {
    font-size: 1.5rem;
    color: #003B70 !important;
}

.color-blue {
    background-color: #003B70;
    color: aliceblue;
}

.color-blue:hover {
    background-color: #004886;
    color: aliceblue;
}

.f-element{
    text-decoration:none;
    color: aliceblue;
}

.f-element:hover{
    text-decoration:none;
    color: rgb(179, 217, 250);
}

footer {
    background-color: #003B70;
    bottom: 0;
    position: absolute;
    width: 100%;
}

#resultado {
	height: 21rem;
}

#contenido{
	height: 16rem;
}

.scroll{ 
	border: 1px solid #ddd;
	background: #f1f1f1;
	overflow-y: scroll;
    overflow-x: hidden;
}


.btn-file {
    position: relative;
    overflow: hidden;
  }
  
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }


